button {
	
	border-color: black;
	border-style: solid;
	width: 100px;
	height: 100px;
	text-align: center;
	display: inline-block;
    font-size: 20px;

}

input[type="text"] {
	border: none;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 20px;
}